/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.go-home {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 8rem;
}