/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

#subscribe-form {
	button {
		font-size: 0.75rem;
	}
}

.about-detail {
	h2 {
		font-size: 10.875rem;
		font-weight: 600;
		line-height: 0.5;
	}

	p {
		color: #8e8e8e;

		&:last-child {
			&:before {
				position: relative;
				content: "";
				display: inline-block;
				width: 5rem;
				height: 1px;
				vertical-align: middle;
				background-color: #909090;
				margin-right: 0.5rem;
			}
		}
	}
}