
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    padding: 7rem 3rem;
}

.form-label {
    font-weight: 300;
    font-size: 0.875rem;
    color: #505050;
    margin: 0;
}

#contact-form {
    input {
        border-bottom: 1px solid #505050;

        &:focus {
            border-color: $theme-color;
        }
    }
}