
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 0.875rem;
}

.fbox-header {
	h5 {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
	}

	p {
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.8;
	}
}